In [31]:
f = 2.0

In [32]:
type(f)

float

In [33]:
f=2

In [34]:
type(f*1.0)

float

In [35]:
f = 3 ##tyoe casting
f=float(f)

In [36]:
type(f)

float

In [37]:
f = 6*7+9

In [38]:
f

51

In [39]:
f = 6*(5+9)

In [40]:
f

84

In [41]:
cities = ['nimmy','nikky','manoj','tinny']

In [42]:
cities

['nimmy', 'nikky', 'manoj', 'tinny']

In [43]:
len(cities)

4

In [44]:
cities(-1)

TypeError: 'list' object is not callable

In [ ]:
cities[-1]

In [ ]:
cities[::-1]

In [ ]:
cities[0:3]

In [ ]:
cities[:100]

In [ ]:
names = ['nimmy','nikky','manoj','tinny']

In [ ]:
names[0:2]

In [ ]:
names [:-2:-1]

In [ ]:
names[:2] #upto 2nd element

In [ ]:
names[1:3:1]

In [ ]:
names[1:4:2]

In [ ]:
names.append('mummy','nikki')

In [ ]:
names

In [ ]:
names.extend(['daddyy','swarnas','krank'])
names.append(['daddy','swarna','kran'])

In [ ]:
names

In [68]:
list1 = [1,2,3,4]
square = [a*a for a in list1]
even = [a for a in list1 if a%2==0]
sqreve= [a*a for a in list1 if a%2==0]

In [ ]:
square

In [ ]:
even

In [ ]:
for a in list1:
    if a%2==0:
        print(a)

In [ ]:
sqreve

In [ ]:
cities

In [ ]:
citiessort=cities.sort()

In [ ]:
names

In [ ]:
names.sort()

In [ ]:
names

In [ ]:
names.pop()

In [ ]:
names.index('nimmy')

In [ ]:
del names[0]

In [ ]:
names

In [ ]:
del names[1:]

In [ ]:
names

In [ ]:
t = ('275', '54000', '0.0', '5000.0', '0.0')
lst = list(t)
lst[0] = '300'
t = tuple(lst)

In [ ]:
t

In [ ]:
roll_num = {1:'sarala',2:'shivani',3:'stella'}
roll_num

In [ ]:
roll_num[1]

In [ ]:
roll_num.get(1)

In [ ]:
roll_num.items()

In [ ]:
roll_num.keys()

In [ ]:
roll_num.values()

In [ ]:
for i in roll_num.values():
    print(i)

In [ ]:
for item in roll_num.items():
    print(item)

In [ ]:
for i in roll_num.values():
    print()

In [ ]:
def get_key(val): 

    for key, value in roll_num.items(): 

         if val == value: 

             return key

In [ ]:
get_key('sarala')

In [ ]:
tup = (1,3,4)

In [ ]:
tup = tup[1] + tup[1:]

In [ ]:
tup1 = (1,4,5)

In [ ]:
tup1[1]

In [ ]:
tup1[1]=2

In [ ]:
tup1[1:]

In [ ]:
tup2 = (2,)

In [ ]:
tup2 + tup1[1:]

In [ ]:
tup = tup2 + tup1[1:]

In [ ]:
tup

# To replace the element in tuple without using type conversions

In [47]:
t1 = (1, 2,3)

In [48]:
t2 = (2,)

In [49]:
t3 = t2 + t1[1:]

In [50]:
t3

(2, 2, 3)

In [51]:
t4 = (1,3,5,7,9,11,13)

In [52]:
t5 = (2,)

In [54]:
t6 = t4[0:3]+ t5 +t4[4:]
t6

(1, 3, 5, 2, 9, 11, 13)

In [55]:
2 in t6

True

In [56]:
13 not in t6

False

## Dict zip

In [60]:
roll_num = dict(zip(['sarala','shivani','stella'],[1,2,3]))
roll_num

{'sarala': 1, 'shivani': 2, 'stella': 3}

In [62]:
d = {k:v for (k,v) in zip(['a','b','c'],[1,2,3])}
d

{'a': 1, 'b': 2, 'c': 3}

In [65]:
d1 = {x:x*2 for x in ([2,4,6])}
d1

{2: 4, 4: 8, 6: 12}

In [66]:
mf = {x : x*4 for x in [1,2,3,4]}
mf

{1: 4, 2: 8, 3: 12, 4: 16}

### Strings

In [69]:
s = 'abc'

In [70]:
s

'abc'

In [71]:
s1 = 'a\nb\tc'
s1

'a\nb\tc'

In [72]:
print(s1)

a
b	c

In [75]:
s = "hey I am a good girl!! have no bones about it"
len(s)

45

In [76]:
s[5:10]

' am a'

## Dataframe